@model WebApplicationTest3.Models.buy

@{
    ViewBag.Title = "Delete";
}

<h2>削除</h2>

<h3>削除していいですか?</h3>
<div>
    <h4>入荷</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.pcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.pcode)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-default" /> |
            @Html.ActionLink("削除しないで入荷リストへ", "Index", "", new { @class = "btn btn-default" })
        </div>
    }
</div>
