@using PagedList.Mvc
@model PagedList.IPagedList<WebApplicationTest3.Models.buy>

@{
    ViewBag.Title = "Index";
}

<h2>入荷リスト</h2>

<p>
    @Html.ActionLink("新規作成", "Create", "", new { @class = "btn btn-default" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            <h4>商品コード</h4>
        </th>
        <th>
            <h4>商品名</h4>
        </th>
        <th>
            <h4>在庫数</h4>
        </th>
       <th>
           <h4>仕入先</h4>
        </th>
        <th>
            <h4>仕入価格</h4>
        </th>
        <th>
            <h4>入荷数</h4>
        </th>
        <th>
            <h4>日付</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product.pcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.stok)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.supplier.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("削除", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

<!-- 現在のページ情報 -->
<div>
    Page: @Model.PageNumber / @Model.PageCount
</div>

<!-- ページ選択用リンク -->
<div>
    @Html.PagedListPager(Model, page => Url.Action("page" + page,"buys"))
</div>